.navbar-left-page{
    display: flex;
    justify-content:flex-start;
    height: 100vh;
    width: 100%;
}

.base-page {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 100%;
}

.home {
    width: 100%;
    position:absolute;
    z-index: 1;
}

.navbar-left{
    position:relative;
    z-index: 2;
}