/* headerorder.js */

.btn-navigation.order-page button{
    padding: 12px;
    background-color: #fff;
    font-size: 14px;
    color: #06152B;
    border: 1px solid #06152B;
    margin:5px;
    border-radius: 20px;
    transition: background-color 0.3s;
}

.btn-navigation button:hover {
    background-color: #eaeaea;
  }
  
  .btn-navigation.order-page button.active {
    background-color: #fd9c0b;
    border: none;
    color: #fff;
  }

.header-container {
    margin:3vh;
}

.header-order {
    margin-left:3vh;
}

.tabel.recent-order{
    padding: 2vh 5vh 5vh 5vh;
}

.tabel.pengiriman-saya{
    padding: 3vh;
}

.tabel.pengiriman-saya button{
    border: none;
    background-color: #FD9C0B;
    color: #fff;
    font-size: 12px;
    padding:5px;
    border-radius: 10px;
}

.tabel {
    margin: 3vh;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.3);
    padding: 3px 40px 3px 40px;
  }
  
  .tabel ul {
    list-style-type: none;
    padding: 0;
  }
  
  .tabel li {
    display: grid;
    align-items: center;
    font-size: 14px;
    color: #06152B;
    font-family: 'DM Sans', sans-serif;
    border-bottom: 1px solid #dcd9d3;
    padding: 10px 0;
  }

  .tabel.pengiriman-saya li{
    grid-template-columns: repeat(8, 1fr);
    gap: 1rem;
  }

  .tabel.recent-order li, .tabel.produk li {
    grid-template-columns: repeat(6, 1fr);
    gap: 1rem;
  }
  
  .tabel li:first-child {
    font-weight: bold;
  }
  
  .tabel span {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }
  
  .tabel button {
    padding: 8px;
    background-color: #FD9C0B;
    color: #FFF;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    justify-content: space-between;
    margin-right: 8px;
  }
  