/* headerorder.js */

.btn-navigation.order-page button{
    padding: 12px;
    background-color: #fff;
    font-size: 14px;
    color: #06152B;
    border: 1px solid #06152B;
    margin:5px;
    border-radius: 20px;
    transition: background-color 0.3s;
}

.btn-navigation button:hover {
    background-color: #eaeaea;
  }
  
  .btn-navigation.order-page button.active {
    background-color: #fd9c0b;
    border: none;
    color: #fff;
  }

.header-container {
    margin:3vh;
}

.header-order {
    margin-left:3vh;
}

.tabel.recent-order{
    padding: 2vh 5vh 5vh 5vh;
}

.tabel.pengiriman-saya{
    padding: 3vh;
}

.tabel.pengiriman-saya button{
    border: none;
    background-color: #FD9C0B;
    color: #fff;
    font-size: 12px;
    padding:5px;
    border-radius: 10px;
}